// Quasar Sass (& SCSS) Variables
// --------------------------------------------------

// Colores inspirados en Golisopod
$primary:   #5b6f7a; // Gris acero armadura (para barras de navegación y elementos principales)
$secondary: #7d538a; // Morado/Violeta característico (para botones secundarios o detalles de marca)
$accent:    #3b8a7d; // Verde menta/turquesa oscuro (para acentos y llamadas a la acción)

$dark:      #1a2129; // Fondo oscuro con un matiz azulado/metálico
$dark-page: #101419; // Fondo general de página en modo oscuro

$positive:  #21ba45; // Mantendremos verde estándar para éxitos (o puedes ajustarlo)
$negative:  #c10015; // Rojo estándar para alertas o errores
$info:      #4ca6af; // Tono cian/azulado info
$warning:   #f2c037; // Amarillo advertencia